@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 44,46,60,255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgba: 44,46,60,255
  }
}

body {
  color: rgba(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgba(var(--background-end-rgba))
      ) */
      /* rgb(var(--background-start-rgb)); */
      background-color: rgba(var(--background-end-rgba));
      user-select: none;
      
}
